#home-container{
    margin-top: 50px;
}
#home-form{
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap:20px;
    
}
#fake-home-container{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(138, 118, 118, 0.648);
    width: 100%;
    height:70vh;
    border-radius:10px;
}
#home-border{
    min-height: 5%;
    display: flex;
    justify-content:start;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}
#title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
#title{
    border-radius: 10px 0px 0px 10px;
    padding:10px 20px ;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 80%;
    height:40px;
    color: white;
}
#save-btn{
    height:40px;
    padding:10px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    min-width: 5%;
    /* width: 110px; */
    border: 2px solid green;
    background: white;
    transition: color 0.5s ease-in ,background-color 0.5s ease-in;
    padding-bottom: 30px;
    
}
#save-btn:hover{
    background-color:rgb(2, 213, 2) ;
    color: white;
    scale: 1.1;
}
#content{
    min-height: 93%;
    background-color: rgb(0, 0, 0);
    width: 99%;
    border-radius: 15px;
    resize: none;
    color: white;
    padding: 10px;
    outline: none;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
#red{
    background-color: rgb(211, 37, 37);
}
#green{
    background-color: rgb(32, 0, 240);
}
#yellow{
    background-color: yellow;
}
#color{
    display: flex;
    gap: 10px;
}