*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
}